<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.9.0.1404241954-beta" targetFramework="net451" />
  <package id="Catel.Extensions.EntityFramework6" version="3.9.0.1404241954-beta" targetFramework="net451" />
  <package id="Catel.Fody" version="1.11.0" targetFramework="net451" developmentDependency="true" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net451" />
  <package id="Fody" version="1.20.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.AspNet.Identity.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="1.0.0" targetFramework="net451" />
  <package id="ModuleInit.Fody" version="1.5.5.0" targetFramework="net451" developmentDependency="true" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net451" />
</packages>