<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.9.0.1404241954-beta" targetFramework="net40" />
  <package id="Catel.MVVM" version="3.9.0.1404241954-beta" targetFramework="net40" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net40" />
</packages>