<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.LicenseManager.Client.WPF.Example\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Client.WPF\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Core\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Data\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Models\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Webservice\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Website\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Test\packages.config" />
</repositories>