<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.LicenseManager.Client.WPF.Example\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Client.WPF\Orc.LicenseManager.Client.WPF.NET40\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Client.WPF\Orc.LicenseManager.Client.WPF.NET45\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Client\Orc.LicenseManager.Client.NET40\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Client\Orc.LicenseManager.Client.NET45\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Core\Orc.LicenseManager.Server.Core.NET40\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Core\Orc.LicenseManager.Server.Core.NET45\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Data\Orc.LicenseManager.Server.Data.NET40\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Data\Orc.LicenseManager.Server.Data.NET45\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Models\Orc.LicenseManager.Server.Models.NET40\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Models\Orc.LicenseManager.Server.Models.NET45\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Website\Orc.LicenseManager.Server.Website.NET40\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Server.Website\Orc.LicenseManager.Server.Website.NET45\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Tests\Orc.LicenseManager.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.LicenseManager.Tests\Orc.LicenseManager.Tests.NET45\packages.config" />
</repositories>