@model string
@{
    ViewBag.Title = "Licenses";
}

<h2>Licenses</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table ng-controller="ItemsController" ng-table="tableParams" class="table" template-pagination="custompager" show-filter="true">
    <tr ng-repeat="item in items">
        <td data-title="'Product'" filter="{ 'Product.Name': 'text' }" sortable="'Product.Name'">
            {{item.Product.Name}}
        </td>
        <td data-title="'FirstName'" filter="{ 'Customer.FirstName': 'text' }" sortable="'Customer.FirstName'">
            {{item.Customer.FirstName}}
        </td>
        <td data-title="'LastName'" filter="{ 'Customer.LastName': 'text' }" sortable="'Customer.LastName'">
            {{item.Customer.LastName}}
        </td>
        <td data-title="'Email'" filter="{ 'Customer.Email': 'text' }" sortable="'Customer.Email'">
            {{item.Customer.Email}}
        </td>
        <td data-title="'License'">
            <button class="copy-button" data-clipboard-text="{{item.Value}}"><i class="glyphicon glyphicon-paperclip"></i></button>
        </td>
        <td style="max-width: 80px;">
            <a class="btn btn-sm btn-primary" href="/License/Details/{{item.Id}}">Details</a>
            <a class="btn btn-sm btn-primary" href="/License/Delete/{{item.Id}}">Delete</a>
        </td>
    </tr>
</table>
@Html.Partial("_CustomPager")

@section Scripts
{
    <script type="text/javascript">
        LMApp.factory('bootstrappedData', function() {
            return {
                items: @Html.Raw(Model)
                }
        });
    </script>
}