body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}
dd {
    min-height: 20px;
}
.nav, .pagination, .carousel, .panel-title a {
     cursor: pointer;
}
button, input, optgroup, select, textarea {
    color: black;
}
.breakword {
    word-wrap: break-word;
}
.toast-top-right {
    top: 62px; /* default is 12 I added 50 because thats how the navbar is */
}
td > .btn {
    margin-bottom: 2px;
    width: 70px;
}

           
       