<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.9.0.1404241954-beta" targetFramework="net451" />
  <package id="Catel.Fody" version="1.11.0" targetFramework="net451" developmentDependency="true" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net451" />
  <package id="Fody" version="1.20.0.0" targetFramework="net40" developmentDependency="true" />
</packages>