@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Orc License Manager</h1>
    <p class="lead">Orc license manager allows you to easily create licenses for your products you wish to disturb. <br />You'll need a user account to access the license manager server.</p>
    <p><a href="https://github.com/Orcomp/Orc.LicenseManager" class="btn btn-primary btn-large">Github &raquo;</a></p>
</div>
